<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Url Shortener Test</title>
        <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="main-container">
            <div class="overlay glass">
                <h2>URL Shortener Test App</h2>

                <form class="url-form">
                    <input type="text" name="url-input" class="url-input" placeholder="Paste your URL here" value="">
                    <button id="submit" class="submit-button">Submit</button>
                </form>
            </div>

            <div class="known-links">
                <h3 class="list-title">Known Links:</h3>

                <ul class="list">
                </ul>
            </div>
        </div>

        <script src="/script.js"></script>
    </body>
</html>
